<!--/*--><![CDATA[/*><!--*/

form {
}

/* Fieldset properties */

fieldset {
  border:1px solid #a6a6a6;
  margin-bottom: 20px;
}

fieldset legend {
  text-align: left;
  color: #1f497d;
  font-size: 24px;
  line-height: 32px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 10px;
  border: 1px solid #a6a6a6;
  background-color: #c6d9f1;
}

fieldset legend span {
  display: block;
  padding-left: 20px;
}

fieldset dl {
  padding-left: 20px;
}

fieldset dl dt {
  display: inline-block;
  padding-top: 10px;
  float: left;
  clear: left;
  width: 200px; /* width of labels */
}

fieldset dl dd {
  position: relative;
  margin-left: 200px; /* width of labels */
  padding-top: 10px;
  padding-bottom: 10px;
}

fieldset label {
  color: #7F7F7F;
  font-size: 16px;
  text-align: left;
  padding-right: 8px;
  cursor: pointer;
}

fieldset label.required {
  background-image: url(images/redstar.gif);
  background-position: right;
  background-repeat: no-repeat;
}

fieldset fieldset {
  display: inline;
  padding-left: 0px;
  border: none;
  margin: 0px;
}

fieldset fieldset label {
  display: block;
  width: auto;
  text-align: left;
  line-height: 30px;
}

fieldset fieldset div {
  float: left;
  margin-right: 10px;
}

fieldset .invalid {
  color: #ff0000;
  border: 1px solid #ff0000;
}

fieldset .err_msg {
  position: absolute;
  top: 10px;
  left: 240px;
  color: #d8000c;
  padding-left: 20px;
  background-image: url("images/point.png");
  background-repeat: no-repeat;
  background-position: top left;
}

fieldset .err_msg span {
  display: block;
  width: 260px;
  line-height: 34px;
  padding-left: 36px;
  padding-right: 20px;
  color: #d8000c;
  border-top: 1px solid #d8000c;
  border-right: 1px solid #d8000c;
  border-bottom: 1px solid #d8000c;
  background-color: #ffbaba;
  background-image: url("icons/Knob Cancel.png");
  background-position: 0px 2px;
  background-repeat: no-repeat;
}

/* Controls */

input,
select,
textarea {
  line-height: 27px;
  padding: 2px;
  border: 1px solid #a6a6a6;
}

input.textbox {
  height: 27px;
  padding: 2px !important;
  line-height: auto !important;
}

select {
  height: 33px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  line-height: 32px !important;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #000000;
}

input.watermark {
  color: #7F7F7F;
}

/* Buttons */

.buttons {
  position: absolute;
  top: 20px;
  right: 0px;
}

.buttons .button {
  float: left;
  color: #000000;
  line-height: 32px;
  margin-left: 20px;
}

.button {
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #535353;
  text-decoration: none;
  cursor: pointer;
  background:url(images/overlay.png) repeat-x center;
  background-color:rgba(198,217,241,1);
  border:1px solid #C7C7C7;
  border-bottom:1px solid #a6a6a6;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}

.button:hover{
  background-color:rgba(198,217,241,.8);
}

.button:active{
  position:relative;
  top:1px;
  left:1px;
}

/*]]>*/-->