<!--/*--><![CDATA[/*><!--*/

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table a:link {
  text-decoration: none;
  color: #7F7F7F;
}

table caption {
  text-align: left;
  color: #1f497d;
  font-size: 24px;
  line-height: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: 1px solid #A6A6A6;
  border-bottom: 0px solid;
  background-color: #C6D9F1;
}

table thead {
  border:1px solid #A6A6A6;
  border-bottom:none;
}

table tbody {
  border:1px solid #A6A6A6;
  border-top:none;
}

table thead th,
table thead td {
  line-height: 18px;
  font-size: 13px;
  text-align: left;
  color: #7F7F7F;
  font-weight: normal;
  border-bottom:1px dotted #A6A6A6;
  white-space: nowrap;
}

table th,
table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 0px;
  line-height: 27px;
  height: 40px;
}

table thead th:last-child,
table tbody td:last-child {
	width: 1%;
}

table tbody .insert td {
  border-top:1px dotted #A6A6A6;
  background-color: #FFFFCC;
}

table td:first-child,
table th:first-child {
  padding-left: 20px;
}

table td:last-child,
table th:last-child {
  padding-right: 20px;
}

table tfoot td:first-child,
table tfoot td:last-child {
  padding: 0px;
}

table .row_alt {
  background-color: #F7F7F7;
}

table tfoot {
}

table tfoot a {
  border: 1px solid #A6A6A6;
  padding: 2px;
  background-color: #F7F7F7;
}

table tfoot a:link {
  background-color: #C6D9F1;
  color: #1f497d;
}

table tfoot a:hover {
  background-color: #F7F7F7;
}

/* Classes */

table .disabled {
  color: #999999;
}

table .sort_desc {
	background-image: url(images/down.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

table .sort_asc {
	background-image: url(images/up.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

/* Controls */

table input[type="checkbox"] {
  width: 40px;
}

table thead input[type="text"] {
  margin: 0px;
  width: 50%;
  height: 20px;
}

table input[type="button"],
table input[type="submit"] {
  background: none;
  border: none;
  padding: 0px;
  background-position: center;
  text-indent: -10000px;
  width: 32px;
  height: 32px;
}

table input[type="button"]:hover ,
table input[type="submit"]:hover {
  background-color: transparent;
}

table tbody input[type="button"],
table tbody input[type="submit"] {
  background-image: url(icons/Remove.png);
}

table tbody .insert input[type="button"],
table tbody .insert input[type="submit"] {
  background-image: url(icons/Add.png);
}

/*]]>*/-->