<!--/*--><![CDATA[/*><!--*/

form {
}

/* Fieldset properties */

fieldset {
  border:1px solid #a6a6a6;
  margin-bottom: 20px;
  background-color: #ffffff;
}

fieldset legend {
  width: 100%;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 10px;

  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 54px;
  height: 54px;
  background-color: #290e03;
}

fieldset legend span {
  display: block;
  padding-left: 20px;
}

fieldset dl {
  padding-left: 20px;
}

fieldset dl dt {
  display: inline-block;
  padding-top: 10px;
  float: left;
  clear: left;
  width: 160px; /* width of labels */
}

fieldset dl dd {
  position: relative;
  margin-left: 160px; /* width of labels */
  padding-top: 10px;
  padding-bottom: 10px;
}

fieldset label {
  color: #7F7F7F;
  font-size: 16px;
  text-align: left;
  padding-right: 8px;
  cursor: pointer;
}

fieldset label.required {
  background-image: url(images/redstar.gif);
  background-position: right;
  background-repeat: no-repeat;
}

fieldset fieldset {
  display: inline;
  padding-left: 0px;
  border: none;
  margin: 0px;
}

fieldset fieldset label {
  display: block;
  width: auto;
  text-align: left;
  line-height: 30px;
}

fieldset fieldset div {
  float: left;
  margin-right: 10px;
}

fieldset .invalid {
  color: #ff0000;
  border: 1px solid #ff0000;
}

fieldset .err_msg {
  position: absolute;
  top: 10px;
  left: 460px;
  color: #d8000c;
  padding-left: 20px;
  background-image: url("images/point.png");
  background-repeat: no-repeat;
  background-position: top left;
}

fieldset .err_msg span {
  display: block;
  width: 260px;
  line-height: 34px;
  padding-left: 36px;
  padding-right: 20px;
  color: #d8000c;
  border-top: 1px solid #d8000c;
  border-right: 1px solid #d8000c;
  border-bottom: 1px solid #d8000c;
  background-color: #ffbaba;
  background-image: url("icons/Knob Cancel.png");
  background-position: 0px 2px;
  background-repeat: no-repeat;
}

/* Controls */

input,
select,
textarea {
  line-height: 27px;
  padding: 2px;
  border: 1px solid #a6a6a6;
}

input.textbox {
  height: 27px;
  padding: 2px !important;
  line-height: auto !important;
}

select {
  height: 33px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  line-height: 32px !important;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #000000;
}

input.watermark {
  color: #7F7F7F;
}

/* Buttons */

.buttons {
  position: absolute;
  top: 20px;
  right: 0px;
}

.buttons .button {
  margin-left: 20px;
}

.button {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  color: #ffffff !important;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background-color: #290e03;
  border: none;
  
  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

.button:hover {
}

.button:active {
}

/*]]>*/-->