<!--/*--><![CDATA[/*><!--*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0px;
  height: 100%;
  background-image: url(images/top.png), url(images/bg.gif);
  background-repeat: repeat-x, repeat;
  background-position: top, top;
}

#page {
  position: relative;
  width: 70%;
  min-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -67px; /* the bottom margin is the negative value of the footer's height */
}

#header {
  height: 67px;
  line-height: 67px;
  position: relative;
  text-align: left;
}

#body {
  position: relative;
  padding-top: 58px;
}

#content {
  background-color: #ffffff;
  border: 1px solid #E1E1E1;
  padding:1px;
}

#footer, .push {
  height: 67px; /* .push must be the same height as footer */
}

#footer {
  color: #3c555a;
  font-size: 11px;
  margin-top: 40px;
}

#footer_content {
  position: relative;
  width: 70%;
  min-width: 1000px;
  margin: 0 auto;
}

/* Messages */

ul.messages {
  margin:0px;
  list-style: none;
  display: block;
  position:fixed;
  top: 0px;
  z-index: 1;
  min-width: 1000px;
  width: 70%;
}

ul.messages li {
  margin: 0px;
  padding-left: 40px;
  background-position: left;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  line-height: 46px;
  cursor: pointer;
}

ul.messages li.info {
  color: #00529b;
  border: 1px solid #00529b;
  background-color: #bde5f8;
  background-image: url("icons/Knob%20Info.png");
}

ul.messages li.success {
  color: #4f8a10;
  border: 1px solid #4f8a10;
  background-color: #dff2bf;
  background-image: url("icons/Knob%20Valid%20Green.png");
}

ul.messages li.warning {
  color: #9f6000;
  border: 1px solid #9f6000;
  background-color: #feefb3;
  background-image: url("icons/Knob%20Attention.png");
}

ul.messages li.fail {
  color: #d8000c;
  border: 1px solid #d8000c;
  background-color: #ffbaba;
  background-image: url("icons/Knob%20Cancel.png");
}

/*]]>*/-->