<!--/*--><![CDATA[/*><!--*/

form {
  clear: left;
}

/* Fieldset properties */

fieldset {
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

fieldset legend {
  text-align: left;
  color: #333333;
  font-size: 24px;
  line-height: 24px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

fieldset legend span {
  display: block;
}

fieldset dl {
  
}

fieldset dl dt {
  float: left;
  clear: left;
  width: 160px; /* width of labels */
}

fieldset dl dd {
  clear: left;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

fieldset label {
  color: #7F7F7F;
  font-size: 16px;
  text-align: left;
  padding-right: 8px;
  cursor: pointer;
}

fieldset label.required {
  background-image: url(images/redstar.gif);
  background-position: right;
  background-repeat: no-repeat;
}

fieldset fieldset {
  display: inline;
  padding-left: 0px;
  border: none;
  margin: 0px;
}

fieldset fieldset label {
  display: block;
  width: auto;
  text-align: left;
  line-height: 30px;
}

fieldset fieldset div {
  float: left;
  margin-right: 10px;
}

fieldset .invalid {
  color: #ff0000;
  border: 1px solid #ff0000;
}

fieldset .err_msg {
  position: absolute;
  top: 10px;
  left: 260px;
  color: #d8000c;
  padding-left: 20px;
  background-image: url("images/point.png");
  background-repeat: no-repeat;
  background-position: top left;
}

fieldset .err_msg span {
  display: block;
  width: 260px;
  line-height: 34px;
  padding-left: 36px;
  padding-right: 20px;
  color: #d8000c;
  border-top: 1px solid #d8000c;
  border-right: 1px solid #d8000c;
  border-bottom: 1px solid #d8000c;
  background-color: #ffbaba;
  background-image: url("icons/Knob Cancel.png");
  background-position: 0px 2px;
  background-repeat: no-repeat;
}

/* Controls */

input,
select,
textarea {
  line-height: 27px;
  padding: 2px;
  border: 1px solid #a6a6a6;
}

input.textbox {
  height: 28px;
  padding: 2px;
  line-height: auto;
}

#page_filter_form_show, #page_notes_form_submit {
    padding-top: 0;
}

select {
  height: 25px;
  /*padding-top: 6px !important;
  padding-bottom: 6px !important;*/
  line-height: 24px !important;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #000000;
}

input.watermark {
  color: #7F7F7F;
}

/* Buttons */

.buttons {
  height: 60px;
}

.buttons a.button {
  display: block;
  float:right;
}

.button {
  height: 34px;
  line-height: 32px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: #818285 !important;
  text-decoration: none;
  cursor: pointer;
  background:url(images/overlay.png) repeat-x center;
  border:1px solid #a6a6a6;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}

.button:hover{
  background-color:rgba(198,217,241,.8);
  color: #000000 !important;
  border:1px solid #a6a6a6;
}

.button:active{
  position:relative;
  top:1px;
  left:1px;
  color: #000000;
}

/*]]>*/-->