<!--/*--><![CDATA[/*><!--*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0px;
  background-position: top;
  background-repeat: repeat-x;
  /* height: 100%; */
}

#page {
  position: relative;
  width: 70%;
  min-width: 1000px;
  margin: 0 auto;
  /*
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -67px; /* the bottom margin is the negative value of the footer's height */
}

#header {
  height: 80px;
  position: relative;
}

#logo {
  padding: 10px;
  margin-top: 10px;
  float: left;
  border:1px solid #E0E0E0;
}

#content {
}

#footer {
  
}

/* Messages */

ul.messages {
  margin:0px;
  list-style: none;
  display: block;
}

ul.messages li {
  margin: 0px;
  padding-left: 40px;
  background-position: left;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  line-height: 46px;
  cursor: pointer;
  margin-bottom: 20px;
}

ul.messages li.info {
  color: #00529b;
  border: 1px solid #00529b;
  background-color: #bde5f8;
  background-image: url("icons/Knob%20Info.png");
}

ul.messages li.success {
  color: #4f8a10;
  border: 1px solid #4f8a10;
  background-color: #dff2bf;
  background-image: url("icons/Knob%20Valid%20Green.png");
}

ul.messages li.warning {
  color: #9f6000;
  border: 1px solid #9f6000;
  background-color: #feefb3;
  background-image: url("icons/Knob%20Attention.png");
}

ul.messages li.fail {
  color: #d8000c;
  border: 1px solid #d8000c;
  background-color: #ffbaba;
  background-image: url("icons/Knob%20Cancel.png");
}

/*]]>*/-->