<!--/*--><![CDATA[/*><!--*/

form {
}

form em {
  font-style: italic;
}

form fieldset {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px solid;
}

form fieldset legend {
  text-align: left;
  font-size: 22px;
  line-height: 22px;
  font-style: italic;
  color: #999999;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: arial, "lucida console", sans-serif;
}

form fieldset dl {
}

form fieldset dl dt {
  display: inline-block;
  padding-top: 2px; /* padding */
  padding-bottom: 2px; /* padding */
  float: left;
  clear: left;
  width: 160px; /* width of labels */
}

form fieldset dl dd {
  margin-left: 160px; /* width of labels */
  padding-top: 2px; /* padding */
  padding-bottom: 2px; /* padding */
}

form fieldset label.required {
  background-image: url(images/redstar.gif);
  background-position: right;
  background-repeat: no-repeat;
}

form fieldset fieldset {
  border: none;
  display: inline;
  padding: 0px;
}

form fieldset label {
  text-align: right;
  padding-right: 8px;
  width: 142px;
  display: block;
}

form fieldset fieldset label {
  display: block;
  width: auto;
  text-align: left;
}

form .textbox.watermark {
	color: #AAAAAA;
}

fieldset input,
fieldset textarea,
fieldset select {
  border: 1px solid #AAAAAA;
  padding: 2px;
  margin: 2px;
}

fieldset input:hover,
fieldset input:focus,
fieldset select:hover,
fieldset select:focus,
fieldset textarea:hover,
fieldset textarea:focus {
  background: #FFFFCC;
}

fieldset input.invalid {
  color: #FF0000;
  border: 1px solid #FF0000;
}

fieldset span.err_msg {
  display: block;
  padding-left: 20px;
  background-image: url("images/exclamation.png");
  background-repeat: no-repeat;
  color: #FF0000;
}

form .buttons {
  text-align: right;
}

/*]]>*/-->