<!--/*--><![CDATA[/*><!--*/

#page {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #FFFFFF;
  border: 0px solid #AAAAAA;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#header {
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;

}

#logo {
  
}

#nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: right;
}

#nav li {
  float: left;
  width: 103px;
  margin: 0px;
  padding: 0px;
}

#nav li a {
  display: block;
  float: left;
  width: 94px;
  height: 36px;
  margin-right: 9px;
  font-size: 13px;
  line-height: 36px;
  color: #677d81;
  text-align: center;
  text-shadow: #ffffff 0px 0px 4px;
  text-decoration: none;
  background-image: url(images/button.png);
}

#content {
  padding: 10px;
}

#footer {
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 20px;
  background-color: #FFFFFF;
  border: 0px solid #AAAAAA;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/*]]>*/-->