<!--/*--><![CDATA[/*><!--*/

.gridview {
  width: 100%;
}

.gridview a {
  text-decoration: none;
  color: #677d81;
}

.gridview th {
  line-height: 18px;
  font-size: 13px;
  text-align: left;
}

.gridview caption {
  color: #677d81;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.gridview thead th,
.gridview tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:1px dotted #aac9ce;
}

.gridview .row_alt {
}

.gridview tfoot {
  background-image: url(images/dot.png);
  background-position: 0 80px;
  background-repeat: repeat-x;
}

.gridview tfoot tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.gridview tfoot .footer td {
  /* border-bottom:1px dotted #aac9ce; */
}

.gridview .pagenumbers {
  text-align: center;
  position: relative;
}

.gridview tfoot .pages {
  float: none;
}

.gridview tfoot .page {
  display: none;
}

.gridview tfoot a.disabled {
  display: block;
  color: #999999;
}

.gridview tfoot .prev {
  float: left;
  display: block;
  width: 74px;
  height: 36px;
  padding-left: 40px;
  line-height: 36px;
  color: #3c555a;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  text-shadow: #ffffff 0px 0px 2px;
  text-transform: capitalize;
  background-image: url(images/prev.png);
}

.gridview tfoot .next {
  float: right;
  display: block;
  width: 74px;
  height: 36px;
  padding-right: 40px;
  line-height: 36px;
  color: #3c555a;
  font-size: 13px;
  text-align: right;
  text-decoration: none;
  text-shadow: #ffffff 0px 0px 2px;
  text-transform: capitalize;
  background-image: url(images/next.png);
}

.gridview .summary {
  padding-left: 30px;
  padding-right: 30px;
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
}

.gridview th {
}

.gridview td {
	/* white-space: nowrap; */
}

.gridview .move_up {
	display: block;
	text-indent: -3000px;
	background-image: url(images/up.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

.gridview .move_down {
	display: block;
	text-indent: -3000px;
	background-image: url(images/down.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

.gridview .sort_desc {
	background-image: url(images/down.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

.gridview .sort_asc {
	background-image: url(images/up.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

.gridview .listcolumn {
	width: 20px;
}

.gridview .movecolumn {
	width: 20px;
}

.gridview .filter input {
	width:100%;
}

.gridview a.disabled {
	display: none;
}

.gridview .pages {
	float: right;
}

.gridview .checkbox {
  width: 40px;
}

.gridview .active {
  width: 60px;
}

.gridview .edit {
  width: 60px;
}

.gridview .delete {
  width: 60px;
}

.gridview .edit .button {
  background-image: url(icons/edit-icon.png);
  background-position: center;
  text-indent: -3000px;
  width: 32px;
  height: 32px;
}

.gridview .delete .button {
  background-image: url(icons/delete-icon.png);
  background-position: center;
  text-indent: -3000px;
  width: 32px;
  height: 32px;
}

.gridview tfoot .delete .button {
  display: block;
  background-image: url(icons/new-icon.png);
  background-position: center;
  text-indent: -3000px;
  width: 32px;
  height: 32px;
}

.gridview thead .button {
  background-image: url(images/funnel.png);
  background-position: center;
  text-indent: -3000px;
  width: 24px;
  height: 24px;
}

.gridview thead .textbox {
  width: 40px;
}

/*]]>*/-->