<!--/*--><![CDATA[/*><!--*/

table {
  width: 100%;
}

table a {
  text-decoration: none;
  color: #677d81;
}

table th {
  line-height: 18px;
  font-size: 13px;
  text-align: left;
}

table caption {
  color: #677d81;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

table thead th,
table tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:1px dotted #aac9ce;
}

table .row_alt {
}

table tfoot {
  background-image: url(images/dot.png);
  background-position: 0 80px;
  background-repeat: repeat-x;
}

table tfoot tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

table tfoot .footer td {
  /* border-bottom:1px dotted #aac9ce; */
}

table .pagenumbers {
  text-align: center;
  position: relative;
}

table tfoot .pages {
  float: none;
}

table tfoot .page {
  display: none;
}

table tfoot a.disabled {
  display: block;
  color: #999999;
}

table tfoot .prev {
  float: left;
  display: block;
  width: 74px;
  height: 36px;
  padding-left: 40px;
  line-height: 36px;
  color: #3c555a;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  text-shadow: #ffffff 0px 0px 2px;
  text-transform: capitalize;
  background-image: url(images/prev.png);
}

table tfoot .next {
  float: right;
  display: block;
  width: 74px;
  height: 36px;
  padding-right: 40px;
  line-height: 36px;
  color: #3c555a;
  font-size: 13px;
  text-align: right;
  text-decoration: none;
  text-shadow: #ffffff 0px 0px 2px;
  text-transform: capitalize;
  background-image: url(images/next.png);
}

table .summary {
  padding-left: 30px;
  padding-right: 30px;
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
}

table th {
}

table td {
	/* white-space: nowrap; */
}

table .move_up {
	display: block;
	text-indent: -3000px;
	background-image: url(images/up.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

table .move_down {
	display: block;
	text-indent: -3000px;
	background-image: url(images/down.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

table .sort_desc {
	background-image: url(images/down.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

table .sort_asc {
	background-image: url(images/up.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
}

table .listcolumn {
	width: 20px;
}

table .movecolumn {
	width: 20px;
}

table .filter input {
	width:100%;
}

table a.disabled {
	display: none;
}

table .pages {
	float: right;
}

table input[type="checkbox"] {
  width: 40px;
}

table .active {
  width: 60px;
}

table .edit {
  width: 60px;
}

table .delete {
  width: 60px;
}

table .edit input[type="button"],input[type="submit"] {
  background-image: url(icons/edit-icon.png);
  background-position: center;
  text-indent: -3000px;
  width: 32px;
  height: 32px;
}

table .delete input[type="button"],input[type="submit"] {
  background-image: url(icons/delete-icon.png);
  background-position: center;
  text-indent: -3000px;
  width: 32px;
  height: 32px;
}

table tfoot .delete input[type="button"],input[type="submit"] {
  display: block;
  background-image: url(icons/new-icon.png);
  background-position: center;
  text-indent: -3000px;
  width: 32px;
  height: 32px;
}

table thead input[type="button"],input[type="submit"] {
  background-image: url(images/funnel.png);
  background-position: center;
  text-indent: -3000px;
  width: 24px;
  height: 24px;
}

table thead input[type="text"] {
  width: 40px;
}

/*]]>*/-->